# API Keys & Secrets
config.yaml

# Local Executables
ffmpeg.exe
ffmpeg
ffprobe.exe
ffprobe

# Media input & output directories
input/
output/

# Python Cache & Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
